useDynLib(rgeos)

import(methods)
import(sp)

export(getScale,setScale)

export(WKT2SP, SP2WKT)

export(thinnedSpatialPolyGEOS, checkPolygonsGEOS, unionSpatialPolygonsGEOS)

export(SpatialLinesIntersections, LinesIntersections, PolygonsIntersections)

export(DiffGpcGEOS, SymDiffGpcGEOS, UnionGpcGEOS, UnionGpcGEOS, IntersectGpcGEOS, checkHolesGPC)

# gpclib shadows

exportClasses("gpc.poly")

exportMethods("show", "get.bbox", "plot", "intersect", "union",
              "setdiff", "[", "append.poly", "scale.poly", "area.poly",
              "coerce", "symdiff")


