useDynLib(rgeos)

import(methods)
import(sp)

export(thinnedSpatialPolyGEOS, checkPolygonsGEOS, unionSpatialPolygonsGEOS)

export(SpatialLinesIntersections, LinesIntersections, PolygonsIntersections)

export(SymDiffGpcGEOS, UnionGpcGEOS, IntersectGpcGEOS, checkHolesGPC)
